<head>
	<link rel="stylesheet" href="/css/profile.css" type="text/css"/>
</head>
<div>
	<h1>Profile</h1>
	<div id="profileInfo">
		<ul>Username: {{users.username}}</ul>
		<div class="media" ng-if="hasPhoto" ng-hide="userProfile.image === undefined">
			<label>
				<!-- need to include error for when file exceeds 2mb limit -->
				<span id="editPic" class="glyphicon glyphicon-pencil" ng-onClick><input type="file" ngf-select="upload($file)"
				name="file" accept="image/*" ngf-max-size="2MB" style="display:none;" id="picToUpload">
				</span>
	            <a class="pull-left" href="#"> <img id="profilePic" class="media-object"
					data-ng-src="data:image/png;base64,{{userProfile.image}}" style="max-height:100%; max-width:100%" />
				</a>
			</label>
        </div>
		<ul>Name: {{users.firstName}} {{users.lastName}}</ul>
		<ul>Bio: {{userProfile.bio}}</ul>
		<a ng-click="openModal(users)" data-toggle="modal" data-target="#followers">
		<ul>Followers: {{users.followers.length}} </ul></a>
		<a ng-click="openModal(users)" data-toggle="modal" data-target="#following">
		<ul>Following: {{users.followingUsers.length}}</ul></a>
		<div class="modal fade" id="following" role="dialog">
					<div class="modal-dialog">
						<!-- Model Content -->
						<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="glyphicon glyphicon-remove-circle" id="btnclose" data-dismiss="modal"
									style="float: right; position: relative; top: 0; right: 0; font-size: 1.7em; 
									appearance: none; -webkit-appearance: none; -moz-appearance: none; outline: none;
    								border: 0; background: transparent;"></button>
								<h2>Following</h2>
							</div>
							<div class="modal-body">
								<table class="table table-bordered">
								<thead>
									<th>UserName</th>
									<th>First Name</th>
									<th>Last Name</th>
								</thead>
									<tr ng-repeat="following in users.followingUsers">
										<td>{{following.following.username}}</td>
										<td>{{following.following.firstName}}</td>
										<td>{{following.following.lastName}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>	
		</div>
		<div class="modal fade" id="followers" role="dialog">
					<div class="modal-dialog">
						<!-- Model Content -->
						<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="glyphicon glyphicon-remove-circle" id="btnclose" data-dismiss="modal"
									style="float: right; position: relative; top: 0; right: 0; font-size: 1.7em; 
									appearance: none; -webkit-appearance: none; -moz-appearance: none; outline: none;
    								border: 0; background: transparent;"></button>
								<h2>Followers</h2>
							</div>
							<div class="modal-body">
								<table class="table table-bordered">
								<thead>
									<th>UserName</th>
									<th>First Name</th>
									<th>Last Name</th>
								</thead>
									<tr ng-repeat="followers in users.followers">
										<td>{{followers.followers.username}}</td>
										<td>{{followers.followers.firstName}}</td>
										<td>{{followers.followers.lastName}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>	
		</div>
		<div style="padding-bottom: 5px;">
		</div>
	</div>
</div>