<head>
	<link rel="stylesheet" href="/css/signup.css" type="text/css"/>
</head>
<div class="container" style="padding:10px;">
	<div class="container-fluid" style="background-color: #d3d3d3; margin-center: 10px; margin-bottom: 10px;">
		<h2 style="padding-left: 20px;">Sign Up Today</h2>
			<form ng-submit="createNewUser()" >
			<div class="container-fluid">
				<div class="form-group">
					<label>Username:</label>
					<input type="text" class="form-control" ng-model="users.username" required
						minlength="4" maxlength="20" pattern="[a-zA-Z0-9_.!?]{4,20}" ng-keyup="checkUsernameAvailibility()" id="username">
					<div ng-class="addClassUsername(usernameStatus)">{{usernameStatus}}</div>
				</div>
				<div class="form-group">
					<label>First Name:</label>
					<input type="text" class="form-control" ng-model="users.firstName" required
					pattern="[a-zA-Z0-9']{1,25}">
				</div>
				<div class="form-group">
					<label>Last Name:</label>
					<input type="text" class="form-control" ng-model="users.lastName" required
					pattern="[a-zA-Z0-9']{1,25}">
				</div>
				<div class="form-group">
					<label>Email:</label>
					<input type="text" class="form-control" ng-model="users.email" required
						type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-keyup="checkEmailAvailibility()" id="email">
					<div ng-class="addClassEmail(emailStatus)">{{emailStatus}}</div>
				</div>
				<div class="form-group">
					<label>Password:</label>
					<input type="password" class="form-control" ng-model="users.password" required
						minlength="8" maxlength="20" pattern="[a-zA-Z0-9_.!?]{8,20}" id="password">
				</div>
				<div class="form-group">
					<label>Re-Enter Password:</label>
					<input type="password" class="form-control" required ng-model="confirmPassword"
					minlength="8" maxlength="20" pattern="[a-zA-Z0-9_.!?]{8,20}" id="confirm_password">
				</div>
				<div class="form-group">
					<input class="btn btn-lg btn-success" style="color: black" type="submit" value="Submit!">
				</div>
			</div>
			</form>
	</div>
</div>