.navbar-brand {
  position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus{
	color: #66CD00;
}

#homeIcon > a:hover, #homeIcon > a:focus{
	color: #66CD00;
}

#navbarIcons > li > a:hover, #navbarIcons > li > a:focus{
	color: #66CD00;
}

footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    margin-top:10px;
}