.navbar-brand {
  position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus{
	color: #66CD00;
}

#homeIcon > a:hover, #homeIcon > a:focus{
	color: #66CD00;
}



#navbarIcons > li > div > input{
	margin-top: 10px;
}

#navbarIcons > li > a:hover, #navbarIcons > li > a:focus{
	color: #66CD00;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 200px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.show {
	display:block;
	position: absolute;
    background-color: #f6f6f6;
    min-width: 152px;
    border: 1px solid #ddd;
    z-index: 1;
 }
 
 .dropdown > ul {
 	list-style:none;
 	padding: 0;
 	margine: 0;
 	border: 0;
 	}

.hide{
	display:none;
}

footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    margin-top:10px;
}