.navbar-brand {
  position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
    margin-top:10px;
}