.media {
	position: relative;
	height: 200px;
	width: 200px;
}

.media .glyphicon {
	position: absolute;
}

.media a {
	position: relative;
	z-index: -1;
}

.media .media-ojbect{
	position: relative;
	z-index: -1;
}

#profilePic {
	position: relative;
	z-index: -1;
}
