<!doctype html>
<html>
<head>
<title>SpotLobby</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script type="text/javascript"
	src="https://code.angularjs.org/1.6.1/angular.js"></script>
<script type="text/javascript"
	src="https://code.angularjs.org/1.6.1/angular-route.js"></script>
<script type="text/javascript" src="route.js"></script>
<script type="text/javascript" src="controllers/home.js"></script>
<script type="text/javascript" src="controllers/users.js"></script>
<script type="text/javascript" src="controllers/login.js"></script>
<script type="text/javascript" src="javascript/ng-file-upload.js"></script>
<script type="text/javascript" src="controllers/profile.js"></script>
<script type="text/javascript" src="controllers/searchUsers.js"></script>
<script type="text/javascript" src="controllers/gatekeeper.js"></script>
<script type="text/javascript" src="controllers/searchBar.js"></script>
<script type="text/javascript" src="factory/userFactory.js"></script>
<script type="text/javascript" src="controllers/searchedUsersProfile.js"></script>
<link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>
<body ng-app="SpotLobby" style="padding-bottom:50px;">
<div>
		<div class="navbar navbar-inverse navbar-default" style="color:#ed53e;">
			<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header" style="text-align:center;">
					<a href="#" class="navbar-brand" style="font-size: 3em;">SpotLobby</a>
				</div>
				<div ng-Controller="gatekeeperCtrl" class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-9">
					<!--<ul class="nav navbar-nav">
						<li><a href="#home"><span class="glyphicon glyphicon-home" style="font-size: 2em;"></span></a></li>
					</ul>-->
					<ul class="nav navbar-nav" style="float: left;">
					<li id="homeIcon"><a href="#home"><span class="glyphicon glyphicon-home" style="font-size: 1em;"></span></a></li>
					</ul>
					<ul class="nav navbar-nav" id="navbarIcons" style="float: right;">
						<li ng-if="!authenticated"><a href="#signup">Signup</a></li>
						<li ng-if="!authenticated"><a href="#login">Log In</a></li>
						<li ng-if="!authenticated" class="search-container">
							<div class="dropdown">
								<input ng-Controller="searchBarCtrl" type="text" placeholder="Search Users.." id="searchBar" ng-keyup="searchForUsers()">
								<ul class="dropdown-content" id="myDropdown" ng-Class="dropdownClass()" ng-Controller="searchBarCtrl">
									<li ng-repeat="user in usersInDB">
									 	<a ng-click="loadUserProfile(user.username)">{{user.username}}</a>
									</li>
								</ul>
							</div>
						</li>
						<li ng-if="authenticated"><a href="#profile"><span class="glyphicon glyphicon-user" style="font-size: 1em;"></span></a></li>
						<li ng-click="logout()" ng-if="authenticated"><a href="#logout">Logout</a>
					</ul>
				</div>
			</div>
			</nav>
		</div>
	</div>
  <div class="container" id="container" style="overflow-y: scroll; max-height: 500px; width: 100%;" ng-view class="view">
				<!-- inject a view here: manage.html, create.html -->
  </div>
  <div class="navbar navbar-default navbar-fixed-bottom" id="this">
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-footer">
					<ul class="nav navbar-nav" style="float: right;">
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>